.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(198, 197, 197, 0.224);
  color: rgb(19, 95, 171);
  border-radius: 100%;
  padding: 0 0.9rem 0 0.9rem;
  transition: background 0.3s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(65, 63, 63, 0.664);
  font-weight: bold;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
  color: rgb(19, 95, 171) !important;
}


body.light-theme, .light {
  background-color: white;
  color: black
}

body.dark-theme, .dark {
  background-color: rgb(15, 15, 39);
  color: white;
}